body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
}

.header {
    background-color: #1F2937;
    display: flex;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
}

.left-links {
    display: flex;    
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-start;
    color: #F9FAF8;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-left: 117px;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    padding-left: 0;
    padding-right: 117px;
}

ul {
    list-style-type: none;
  }
  
a  {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
}

.content-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #1F2937;
}

.left-side-1 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    padding: 24px 24px 24px 125px;
}

.big-text-1 {
    color: #F9FAF8;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.small-text-1 {
    color: #F9FAF8;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 18px;
}

.button-1 {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 3px 36px 3px 36px;
}

.right-side-1 {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    padding: 48px 125px 0 0;
}

.image {
    align-items: center;
    margin: 24px 0px 72px 0px;
    width: 360px;
}

.content-2 {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 16px;
}

.content-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.image-content-3 {
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin: 0 30px 0 30px;
    width: 160px;
}

.small-text-3 {
    display: flex;
    align-items: center;
    color: #1F2937;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 18px;
    margin: 6px;
    text-align: center;
}

.content-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    margin: 48px 0 0 0;
}

.big-text-4 {
    display: flex;
    justify-content: center;
    margin: 48px 0 0 0;
    width: 800px;
    color: #1F2937;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.small-text-4 {
    display: flex;
    justify-content: flex-end;
    margin: 6px 0 48px 0;
    width: 800px;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.content-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 96px 0 96px 0;
}

.big-prompt {
    display: flex;
    justify-content: center;
    background: #3882F6;
    width: 900px;
    border-radius: 10px;
    padding: 27px;
}

.big-text-5 {
    color: #F9FAF8;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.small-text-5 {
    color: #F9FAF8;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
}

.right-side-5 {
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.button-5 {
    display: flex;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 10px;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 24px 2px 24px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    margin: 36px 0 36px 0;
    color: #F9FAF8;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 18px;
}