body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
}

.header {
    background-color: #1F2937;
    display: flex;
    font-family: 'Calibri', Tahoma, 'Geneva', Verdana, sans-serif;
}

.left-links {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 60px;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    padding-right: 60px;
}

ul {
    list-style-type: none;
  }
  
a  {
    color: white;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
}

.content-1 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    width: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex: 0 1 auto;
}

.image {
    width: 360px;
}

.content-2 {
    display: flex;
    flex-direction: column;
}

.content-3 {
    display: flex;
    flex-direction: row;
}

.image-content3 {
    width: 120px;
}